@import "variables";

.l-header{
  background-color: @primary-color;
  height: @header-height;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.l-header-inner{
  max-width: @body-width;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;

  img{
    max-height: @header-height - 20px;
    width: auto;
  }
}

.l-body{
  min-height: ~"calc(100% - " @header-height + @footer-height~")";
  max-width: @body-width;
  margin: 0 auto;
}

.l-footer{
  background-color: @primary-color;
  height: @footer-height;
}
